/* Assuming you uncomment the import statement for usersidebar.css */

.container {
    width: 300px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }
  
  .profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 92%;
  }
  
  .logout {
    height: 8%;
    width: 100%;
    background-color: #EEBC1D;
    margin-top: 20px;
  }
  
  .picture {
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-color: #EEBC1D;
    object-fit: contain;
  }
  
  .watchlist {
    flex: 1;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    padding: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow-y: scroll;
  }
  
  .coin {
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEBC1D;
    box-shadow: 0 0 3px black;
  }
  
  .avatar {
    height: 38px;
    width: 38px;
    margin-left: 15px;
    cursor: pointer;
    background-color: #EEBC1D;
  }
  
  .user-info {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    word-wrap: break-word;
  }
  
  .watchlist-title {
    font-size: 15px;
    text-shadow: 0 0 5px black;
  }
  
  .coin-info {
    display: flex;
    gap: 8px;
  }
  
  .delete-icon {
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add more styles as needed */
  